.share {
	margin-bottom: 5px;
}
.share#ds-share #ds-reset.ds-share-inline ul.ds-share-icons-32{
    width: fit-content;
    margin: 0 auto;
}
.back_home{
	float: right;
}
.back_home a{
	font-weight: bold;
	margin-left: 10px;
}
.back_home a:hover{
	color: #6e6e6e;
}
