.share {
	margin-bottom: 5px;
}
.share#ds-share #ds-reset.ds-share-inline ul.ds-share-icons-32 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.share#ds-share #ds-reset.ds-share-inline ul.ds-share-icons-32 li{
    list-style: none;
}
.back_home{
	float: right;
}
.back_home a{
	font-weight: bold;
	margin-left: 10px;
}
.back_home a:hover{
	color: #6e6e6e;
}
